In [63]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
import warnings; warnings.simplefilter('ignore')

In [64]:
ratings_df = pd.read_fwf('10000.txt')
ratings_df.columns = ['user_id', 'song_id', 'listen_count']
ratings_df.head(10)

                                    user_id             song_id  listen_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B             2
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0             1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D             1
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273             1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODDNQT12A6D4F5F7E             5
5  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODXRTY12AB0180F3B             1
6  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOFGUAY12AB017B0A8             1
7  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOFRQTD12A81C233C0             1
8  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOHQWYZ12A6D4FA701             1
9  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOIYTOA12A6D4F9A23             1

In [65]:
ratings_df['song_id'].value_counts()

SOFRQTD12A81C233C0    8277
SOAUWYT12A81C206F1    7032
SOAXGDH12A8C13F8A1    6949
SOBONKR12A58A7A7E0    6412
SOSXLTC12AF72A7F54    6145
                      ...
SOLIGVL12AB017DBAE      51
SOWNLZF12A58A79811      51
SOBPGWB12A6D4F7EF3      50
SOGSPGJ12A8C134FAA      48
SOYYBJJ12AB017E9FD      48
Name: song_id, Length: 10000, dtype: int64

In [66]:
songs_df = pd.read_csv('song_data.csv')
len(songs_df)

1000000

In [67]:
len(ratings_df)

1999999

In [68]:
df = ratings_df.groupby('song_id')['listen_count'].sum()
df

song_id
SOAAAGQ12A8C1420C8    227
SOAACPJ12A81C21360    352
SOAACSG12AB018DC80    158
SOAAEJI12AB0188AB5    131
SOAAFAC12A67ADF7EB    405
                     ...
SOZZTNF12A8C139916    611
SOZZVWB12AB0189C30    253
SOZZWZV12A67AE140F    325
SOZZYAO12A6701FF36    116
SOZZZPV12A8C1444B5    153
Name: listen_count, Length: 10000, dtype: int64

In [69]:
df.head(10)

song_id
SOAAAGQ12A8C1420C8    227
SOAACPJ12A81C21360    352
SOAACSG12AB018DC80    158
SOAAEJI12AB0188AB5    131
SOAAFAC12A67ADF7EB    405
SOAAFYH12A8C13717A    729
SOAAJMQ12A6D4F7D17    169
SOAAKPM12A58A77210    464
SOAALWN12A6D4F7FDA    215
SOAAMOW12AB018149B    131
Name: listen_count, dtype: int64

In [70]:
df = (ratings_df.groupby('song_id')['listen_count'].sum() * 100) / 10000

In [71]:
raaa = pd.read_csv('song_avg_count.csv')

In [72]:
raaa.head(10)

              song_id   avg
0  SOAAAGQ12A8C1420C8  2.27
1  SOAACPJ12A81C21360  3.52
2  SOAACSG12AB018DC80  1.58
3  SOAAEJI12AB0188AB5  1.31
4  SOAAFAC12A67ADF7EB  4.05
5  SOAAFYH12A8C13717A  7.29
6  SOAAJMQ12A6D4F7D17  1.69
7  SOAAKPM12A58A77210  4.64
8  SOAALWN12A6D4F7FDA  2.15
9  SOAAMOW12AB018149B  1.31

In [73]:
songs_df = pd.read_csv('song_data.csv')
songs_df.head(10)

,song_id,title,release,artist_name,year
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0
5,SOZVAPQ12A8C13B63C,"Symphony No. 1 G minor ""Sinfonie Serieuse""/All...",Berwald: Symphonies Nos. 1/2/3/4,David Montgomery,0
6,SOQVRHI12A6D4FB2D7,We Have Got Love,Strictly The Best Vol. 34,Sasha / Turbulence,0
7,SOEYRFT12AB018936C,2 Da Beat Ch'yall,Da Bomb,Kris Kross,1993
8,SOPMIYT12A6D4F851E,Goodbye,Danny Boy,Joseph Locke,0
9,SOJCFMH12A8C13B0C2,Mama_ mama can't you see ?,March to cadence with the US marines,The Sun Harbor's Chorus-Documentary Recordings,0

In [74]:
songs_df.shape

(1000000, 5)

In [75]:
merged = songs_df.merge(raaa, on= 'song_id', how = 'left')
merged.head(10)

,song_id,title,release,artist_name,year,avg
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003,NaN
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995,NaN
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006,NaN
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003,NaN
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0,NaN
5,SOZVAPQ12A8C13B63C,"Symphony No. 1 G minor ""Sinfonie Serieuse""/All...",Berwald: Symphonies Nos. 1/2/3/4,David Montgomery,0,NaN
6,SOQVRHI12A6D4FB2D7,We Have Got Love,Strictly The Best Vol. 34,Sasha / Turbulence,0,NaN
7,SOEYRFT12AB018936C,2 Da Beat Ch'yall,Da Bomb,Kris Kross,1993,NaN
8,SOPMIYT12A6D4F851E,Goodbye,Danny Boy,Joseph Locke,0,NaN
9,SOJCFMH12A8C13B0C2,Mama_ mama can't you see ?,March to cadence with the US marines,The Sun Harbor's Chorus-Documentary Recordings,0,NaN

In [76]:
raaa.dtypes

song_id     object
avg        float64
dtype: object

In [77]:
actual_data = merged[merged['avg'].notna()]

In [78]:
actual_data.head(10)

,song_id,title,release,artist_name,year,avg
245,SOSZNRJ12A8AE46E38,Anyone Else But You,Juno - Music From The Motion Picture,Michael Cera & Ellen Page,2007,3.45
412,SOGKGLB12A81C22AFA,Drunk and Hot Girls,Graduation,Kanye West / Mos Def,2007,4.09
464,SOWZDNH12A6D4F7237,Until The Day I Die (Album Version),Page Avenue,Story Of The Year,2003,1.89
484,SOQBGZD12AB0184341,Rewind (Demo),Riot!,Paramore,0,2.13
548,SOTPWHK12A8AE46DC8,Never Knew Love,Love Songs,Rick Astley,1991,1.99
634,SOBQZKH12A8AE48A02,Heroes Get Remembered_ Legends Never Die,Rise Or Die Trying,Four Year Strong,2007,5.15
809,SOOLSML12A8C1414DC,Don't Upset The Rhythm (Go Baby Go),Barbie Lets All Party!,Noisettes,2009,1.90
889,SOPXGQV12A58A7C985,The Driveway,Breakout,Miley Cyrus,2008,2.54
902,SOQMFQX12AB0189E9A,Here I Am,Born In Babylon (Bonus Track Version),SOJA,0,1.39
932,SOTUYMM12AAF3B336B,Nostalgia Amnesia,Melancholydisco,Viola,0,9.33

In [80]:
rat_counts = actual_data[actual_data['avg'].notnull()]['avg'].astype('int')
rat_counts = rat_counts*100
rat_averages = actual_data[actual_data['avg'].notnull()]['avg'].astype('int')
C = rat_averages.mean()
C

5.540461583406369

In [81]:
m = rat_counts.quantile(0.95)
m

1600.0

In [82]:
qualified = actual_data[(actual_data['avg']*100 >= m) & (actual_data['avg'].notnull()) ][['title', 'year', 'release', 'avg', 'artist_name']]
qualified['rat_counts'] = qualified['avg'].astype('int')
qualified['rat_counts'] = qualified['rat_counts'] * 100
qualified['rat_averages'] = qualified['avg'].astype('int')
qualified.shape

(529, 7)

In [83]:
qualified.head(10)

,title,year,release,avg,artist_name,rat_counts,rat_averages
3812,Sincerité Et Jalousie,0,Simple Et Funky,162.21,Alliance Ethnik,16200,162
4635,All Men Are Liars,0,Quiet Please... The New Best Of Nick Lowe,20.20,Nick Lowe,2000,20
5998,The Maestro,1992,Check Your Head,48.84,Beastie Boys,4800,48
7933,Alley Oop (Girls Version) (2007 Digital Remaster),1968,The Doughnut In Granny's Greenhouse,16.30,The Bonzo Dog Band,1600,16
10708,Nothin' On You [feat. Bruno Mars] (Album Version),0,Nothin' On You [feat. Bruno Mars],64.61,B.o.B,6400,64
13363,Patience,1988,G N' R Lies,22.85,Guns N' Roses,2200,22
17507,Rock Star,2002,In Search Of...,41.26,N.E.R.D.,4100,41
19106,You've Got The Love,2009,Lungs,65.44,Florence + The Machine,6500,65
19308,Nah!,2002,Up!,49.50,Shania Twain,4900,49
20904,Natural Anthem (Album),2003,Give Up,17.90,Postal Service,1700,17

In [84]:
def weighted_rating(x):
    v = x['rat_counts']
    R = x['rat_averages']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [85]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [86]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [87]:
qualified.head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
448841,You're The One,1990,If There Was A Way,487.84,Dwight Yoakam,48700,487,471.685184
111102,Undo,2001,Vespertine Live,470.60,Björk,47000,470,454.709151
865618,Revelry,2008,Only By The Night,365.58,Kings Of Leon,36500,365,349.904586
808198,Sehr kosmisch,0,Musik von Harmonia,306.41,Harmonia,30600,306,291.070333
618654,Horn Concerto No. 4 in E flat K495: II. Romanc...,0,Mozart - Eine kleine Nachtmusik,303.13,Barry Tuckwell/Academy of St Martin-in-the-Fie...,30300,303,288.080399
151710,Dog Days Are Over (Radio Edit),0,Now That's What I Call Music! 75,264.66,Florence + The Machine,26400,264,249.230884
863190,Secrets,2009,Waking Up,214.11,OneRepublic,21400,214,199.498467
282306,Canada,0,The End Is Here,203.23,Five Iron Frenzy,20300,203,188.573732
419297,Invalid,2002,Fermi Paradox,180.75,Tub Ring,18000,180,165.758405
195655,Représente,1999,Fat Come Back,174.90,Alliance Ethnik,17400,174,159.813934
452494,Catch You Baby (Steve Pitron & Max Sanna Radio...,0,Catch You Baby,174.58,Lonnie Gordon,17400,174,159.813934
201883,Ain't Misbehavin,0,Summertime,163.11,Sam Cooke,16300,163,148.925404
3812,Sincerité Et Jalousie,0,Simple Et Funky,162.21,Alliance Ethnik,16200,162,147.936221
776241,Hey_ Soul Sister,0,Save Me_ San Francisco,151.26,Train,15100,151,137.063757
797848,Fireflies,2009,Karaoke Monthly Vol. 2 (January 2010),146.17,Charttraxx Karaoke,14600,146,132.127453

In [88]:
def build_chart(artist, percentile=0.85):
    df = actual_data[actual_data['artist_name'] == artist]
    rat_counts = df[df['avg'].notnull()]['avg'].astype('int')
    rat_counts = rat_counts*100
    rat_averages = df[df['avg'].notnull()]['avg'].astype('int')
    C = rat_averages.mean()
    m = rat_counts.quantile(percentile)
    
    qualified = df[(df['avg']*100 >= m) & (df['avg'].notnull())][['title', 'year', 'release', 'avg', 'artist_name']]
    qualified['rat_counts'] = qualified['avg'].astype('int')
    qualified['rat_counts'] = qualified['rat_counts'] * 100
    qualified['rat_averages'] = qualified['avg'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['rat_counts']/(x['rat_counts']+m) * x['rat_averages']) + (m/(m+x['rat_counts']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [89]:
build_chart('Coldplay').head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
319710,The Scientist,2002,The Scientist,90.48,Coldplay,9000,90,78.270956
672853,Clocks,2002,A Rush Of Blood To The Head,79.04,Coldplay,7900,79,67.765487
420246,Yellow,2000,Yellow,77.10,Coldplay,7700,77,65.867971
553310,Yellow,2000,Deejay 25,77.10,Coldplay,7700,77,65.867971
991502,Fix You,2005,X & Y,59.38,Coldplay,5900,59,49.036284
544048,Shiver,2000,Parachutes,30.43,Coldplay,3000,30,23.841768
980968,Speed Of Sound,2005,Speed Of Sound,29.86,Coldplay,2900,29,23.060474
270583,In My Place,2001,A Rush Of Blood To The Head,28.09,Coldplay,2800,28,22.289121
441614,Don't Panic,1999,Don't Panic,18.26,Coldplay,1800,18,15.315333
352936,Lost!,2008,Viva La Vida Or Death And All His Friends,16.77,Coldplay,1600,16,14.147541
465768,Sparks,2000,Parachutes,16.87,Coldplay,1600,16,14.147541
553405,Life In Technicolor ii,2008,Viva La Vida - Prospekt's March Edition,16.14,Coldplay,1600,16,14.147541

In [90]:
build_chart('Abba').head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
91380,Take A Chance On Me,1977,The Definitive Collection,10.37,Abba,1000,10,8.439716

In [91]:
build_chart('Bon Jovi').head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
628433,Livin' On A Prayer,1986,Cross Road,67.24,Bon Jovi,6700,67,50.379877
799804,It's My Life,2000,Crush,46.49,Bon Jovi,4600,46,33.167539

In [92]:
build_chart('Michael Jackson').head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
330809,Thriller,1982,The Essential Michael Jackson,20.56,Michael Jackson,2000,20,16.088308
324342,The Way You Make Me Feel,1987,HIStory - PAST_ PRESENT AND FUTURE - Book I,12.70,Michael Jackson,1200,12,9.317376

In [93]:
build_chart('Maroon 5').head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
839767,Sunday Morning,2002,Songs About Jane,11.08,Maroon 5,1100,11,8.058824
931858,Won't Go Home Without You,2007,It Won't Be Soon Before Long,11.71,Maroon 5,1100,11,8.058824
145879,Wake Up Call,2007,It Won't Be Soon Before Long,10.49,Maroon 5,1000,10,7.411765
519334,Makes Me Wonder,2007,Makes Me Wonder,10.36,Maroon 5,1000,10,7.411765

In [94]:
build_chart('The Cranberries').head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
324997,Animal Instinct,1999,Bury The Hatchet (The Complete Sessions 1998-1...,8.18,The Cranberries,800,8,6.214286
755488,Ode To My Family,1994,No Need To Argue (The Complete Sessions 1994-1...,8.13,The Cranberries,800,8,6.214286
795755,Ridiculous Thoughts,1994,No Need To Argue (The Complete Sessions 1994-1...,8.81,The Cranberries,800,8,6.214286

In [62]:
build_chart('Taylor Swift').head(15)

,title,year,release,avg,artist_name,rat_counts,rat_averages,wr
762366,Love Story,2008,Het Beste Uit De Top 40 - 2009,66.37,Taylor Swift,6600,66,51.658433
866509,Love Story,2008,Fearless,66.37,Taylor Swift,6600,66,51.658433
713188,You Belong With Me,2008,Fearless,47.48,Taylor Swift,4700,47,35.659946
795997,Our Song,2006,Taylor Swift,29.01,Taylor Swift,2900,29,22.421642